# lifted from cm/bundlewrap/bundles/voctocore/files/voctomix2-voctocore.service
# dest: /usr/local/lib/systemd/system/voctomix2-voctocore.service

[Unit]
Description=ccc voctomix core
After=network.target
After=display-manager.service
After=graphical.target

[Service]
User=videoteam
Group=videoteam

Type=notify
NotifyAccess=all
#WorkingDirectory=/opt/voctomix2/release
#ExecStart=/opt/voctomix2/release/voctocore/voctocore.py -vv --ini-file /etc/voctomix/voctocore.ini
WorkingDirectory=/opt/vocto-mock
ExecStart=/opt/vocto-mock/mock-core.py
Restart=always
RestartSec=1s
StartLimitInterval=0

Nice=0

Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
# Environment=PIPEWIRE_DEBUG=3,pw.conf:5

[Install]
WantedBy=default.target
